.header {
    text-align: center;
    background-color: #000000;
    color: white;
    padding: 1%;
}

.sidebar {
    background-color: #CCCCCC;
    max-height: 100%;
    width: 15%;
}

.sideButton {
    background-color: #00000000; 
    border: #00000000;
    color: #303030;
    margin: 3px;
    margin-left: 80px;
}

.subTopicHeader {
    margin-left: 50px; 
    margin-top: 0px; 
    margin-bottom: 2px;
}

.largeTopicHeader {
    margin-left: 20px; 
    margin-top: 0px; 
    margin-bottom: 0px;
}